.nav_item{
    justify-content: space-between;
    cursor: pointer;
}


.loader{
animation: loader 2s infinite ease-in-out;
}

@keyframes loader {
    0%{
        scale:0.8;
        opacity:0.8;
    }

    50%{
        scale: 1;
        opacity: 1;
    }
    
    100%{
        scale: 0.8;
        opacity: 0.8;
    }
    
}

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mantine-color-brand-9);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mantine-color-brand-9);
  }